{% extends 'base.html' %}
{% block content %}

<nav>
    <a href="/search/">SEARCH PAGE</a>
</nav>

<nav>
    <a href="/characters/">Character</a>
</nav>

<h1>Hello I'm {{ character.Name }}!</h1>

<br>

<h2>A bit about me:</h2>
<p>I appear in the movie '{{ movie.Name }}', where I'm a/an {{ character.Species }} and play the role of a/an {{ character.Role }}.</p>
{% if actor.Name == "MUTE" %} 
    <p>In this movie, unfortunately I don't speak. For this reason the name of the actor who would play my caracter is 'MUTE'. </p>
{% else %}
    <p>In this movie my voice comes from a very special actor/actress named {{actor.Name}}.</p>
{% endif %}

<br>

<h2>In summary:</h2>
<h3>Character:</h3>
<p> <b>Id:</b> {{ character.IdCharacter }}</p>
<p> <b>Name:</b> {{ character.Name }}</p>
<p> <b>Species:</b> <a href="/species/info/{{ character.Species }}">{{ character.Species }}</a></p>
<p> <b>Role:</b> <a href="/roles/info/{{ character.Role }}">{{ character.Role }}</a></p>
<h3>Actor:</h3>
<p> <b>Id:</b> {{ actor.IdActor }}</p>
<p> <b>Name:</b> <a href="/actors/info/{{ actor.IdActor }}">{{ actor.Name }}</a></p>
<h3>Movie:</h3>
<p> <b>Id:</b> {{ movie.IdMovie }}</p>
<p> <b>Name:</b> <a href="/movies/info/{{ movie.IdMovie }}">{{ movie.Name }}</a></p>


{% endblock %}